<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="certificateReferences"
             type="Thinktecture.IdentityModel.Utility.CertificateReferenceSection, Thinktecture.IdentityModel" />
  </configSections>

  <certificateReferences>
    <!-- signing certificate -->
    <add name="DemoSts"
         findValue="CN=DemoSTS"
         x509FindType="FindBySubjectDistinguishedName"
         storeLocation="LocalMachine"
         storeName="TrustedPeople" />

    <!-- encryption certificate -->
    <add name="http://localhost/Services/StsDemo"
         findValue="CN=DemoService"
         x509FindType="FindBySubjectDistinguishedName"
         storeLocation="LocalMachine"
         storeName="TrustedPeople" />
  </certificateReferences>

</configuration>